<%- include('./partials/header') %>

    <!-- container -->
    <div class="container  d-flex flex-column text-capitalize">

        <h1>Contact Us</h1>
        <p>Telephone: +9855443765</p>


    </div>

    <%- include(`./partials/footer`) %>