<%- include('./partials/header') %>

    <!-- container -->
    <div class="container d-flex flex-column text-capitalize">

            <h1>About Us</h1>
            <p>this is about us</p>

    </div>

    <%- include(`./partials/footer`) %>