<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 5</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <a href="/pages/page1">Page 1</a>
        <a href="/pages/page2">Page 2</a>
        <a href="/pages/page3">Page 3</a>
        <a href="/pages/page4">Page 4</a>
        <a href="/pages/page5">Page 5</a>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>