<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 4</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">

        <form action="/user/getUser" method="POST">
            <label for="userName">username</label>
            <input type="text" name="userName">
            <button type="submit">Search</button>
        </form>
    </div>

    <script src="js/main.js"></script>
</body>

</html>